[2017-06-08 20:50] sarahmarshy opened #14 "Compilation in online compiler fails"
Fails with this error:
[code]
Removing this line from mbed_app.json -
`"lwip.ethernet-enabled": false,`

Results in this error:

[code]

You can continue like this until there is no error from mbed_app.json but actual compilation errors, presumably because these features are not turned on/off.

[2017-06-09 09:55] hasnainvirk commented on #14
Can you provide me with the command you are using for compilation ?

[2017-06-09 10:06] hasnainvirk commented on #14
I can't reproduce your issue locally (with mbed-cli) ? I don't know how online IDE is wired up. Can you try moving this line:
"target.features_add": ["LWIP", "COMMON_PAL"],
before any lwip overrides ?

[2017-06-09 10:24] hasnainvirk commented on #14
Okay @sarahmarshy  I got to the bottom of this. Online compiler uses latest release, i.e., mbed-os-5.4.7 tag.
Cellular APIs will be released in mbed-os-5.5.0. Closing this , as it is irrelevant.

[2017-06-09 10:24] #14 closed

[2017-06-09 15:45] sarahmarshy opened #18 "IAR compiled binary fails to run on Dragonfly"
I am seeing no output when executing an IAR compiled binary. Though, it will run if exported to IAR and flashed through the IDE. The exported project will be compiled with debugging flags, so there might be an issue there.

For reference, this is my iar version:
[code]

[2017-06-09 16:37] hasnainvirk commented on #18
@sarahmarshy  There is an issue with MultiTech UDK2.0. Sometimes the binary did not get flashed properly and the software gets stuck in bootloader. Power cycle the device. Plugging-off the power altogather. Reset button wouldn't work at that stage.

[2017-06-09 16:47] sarahmarshy commented on #18
@hasnainvirk I have tried that multiple times. I am immediately able to flash and run an ARM compiled binary with the board in the same state. I have also seen the behavior you are talking about, usually it is accompanied by a 'fail.txt' file in the drive as well as the binary sitting in the drive without having been 'consumed', as it were.

[2017-06-09 16:48] sarahmarshy commented on #18
This is happening reliably, even after power cycles.

[2017-06-12 06:53] hasnainvirk commented on #18
@sarahmarshy Can you please open a Jira Ticket for that ?
I don't have traction for that on Jira. This should be looked into. Thank you for catching it, please elaborate your test setup as well in Jira ticket for reproduciblity.

[2017-06-14 15:32] sarahmarshy commented on #18
@hasnainvirk Where am I supposed to create a Jira ticket?

[2017-06-15 08:20] hasnainvirk commented on #18
@sarahmarshy Ashok opened a ticket here https://jira.arm.com/browse/ONME-3109

[2017-06-15 08:37] ashok-rao commented on #18
Slight correction @hasnainvirk , that ticket was opened by @sarahmarshy only.. :-)

[2017-06-15 08:57] hasnainvirk commented on #18
@sarahmarshy @ashok-rao I used mbed-os-5.5.0-rc2-oob branch. And it all worked fine. Can you please elaborate what exactly did you see ? Can you still reproduce it with the above mentioned branch ?

[2017-06-15 09:00] hasnainvirk commented on #18
My steps:
i) Set Path for IAR compile in mbed_settings.py
ii) Checkout mbed-os-5.5.0-rc2-oob branch
iii) mbed compile -m MTS_DRAGONFLY_F411RE -t IAR
iv) Copy the binary
v) Run ..

Trying now the export ..

[2017-06-15 09:07] hasnainvirk commented on #18
@ashok-rao @sarahmarshy With a debug build I will get an assertion:
[code]
This is a known issue, documented in release notes.  Fix is available here, https://github.com/ARMmbed/mbed-os/pull/4538

[2017-08-18 09:40] hasnainvirk commented on #18
@sarahmarshy @ashok-rao  What is the status of this after #4538 ?
If the issue is resolved, please close this issue ?

[2017-09-06 19:50] ciarmcom commented on #18
ARM Internal Ref: IOTCELL-64

[2017-09-15 10:04] MarceloSalazar opened #31 "Cellular app on C030 takes long time to respond"
Application gets stuck:
[code]

Tools:
- mbed CLI: 1.2.0
- GCC_ARM: 6.3.1
- App/branch: https://github.com/ARMmbed/mbed-os-example-cellular/tree/mbed-os-5.6-oob

[2017-09-15 10:06] MarceloSalazar commented on #31
cc @adbridge @hasnainvirk

[2017-09-15 11:50] ciarmcom commented on #31
ARM Internal Ref: IOTCELL-98

[2017-09-15 12:06] hasnainvirk commented on #31
@adbridge We don't have C030 in Oulu. You need to assign it to someone in Cambridge.

[2017-09-15 12:09] hasnainvirk commented on #31
@MarceloSalazar Call me on skype and we can debug it together, I don't have this hardware  in Oulu

[2017-09-15 12:44] adbridge commented on #31
@hasnainvirk Marcelo is away now, I will see if anyone else can help

[2017-09-15 14:51] hasnainvirk commented on #31
@adbridge @MarceloSalazar This may fix the issue https://github.com/ARMmbed/mbed-os/pull/5116

[2017-09-18 23:23] MarceloSalazar commented on #31
Just to confirm, the example app does work, but it takes a long time to show a response in the serial port.

IMO, this is a 'minor' issue/enhancement. We should display the progress (single counter of re-tries?), but I don't think [trace](https://github.com/ARMmbed/mbed-os-example-cellular/blob/master/mbed_app.json#L6) is appropriate, as it's too verbose and not clear whether the communication is

[2017-09-19 07:21] hasnainvirk commented on #31
If the network joining is taking too long, it means heavy shadowing or low power operation.
How do you power up your board ? USB only ? Or both power adaptor and USB ? Power adaptor is necessary for optimal performance. The problem is the connection retries are handled by the driver, not by the application. So only way to visualise those retries is to enable mbed-trace, which significantly increas

[2017-09-19 08:39] MarceloSalazar commented on #31
It was indeed USB only, as usual for mbed boards. If there is a strong requirement to power it up using external adapter, then we should add a note to the example docs.

Maybe we could have a background task informing the user that the app is still running?

[2017-09-23 14:50] MarceloSalazar commented on #18
@sarahmarshy could you please confirm fix with mbed OS 5.6 rc2

[2017-09-23 14:52] MarceloSalazar commented on #18
Please disregard. It's confirmed to work in 5.6

[2017-09-23 14:52] #18 closed

[2017-12-06 14:10] gggekov opened #40 "C030-U201 board doesn't receive always a response from u-blox echo server"
## Description
The C030-U201 sometimes wouldn't get a reply from the u-blox echo server. Below is an example from the serial port:

[code]
After a few presses of the reset button I always manage to get a response from the echo server.

This can be a bit tricky to reproduce as sometimes the board behaves as expected and sometimes I get stuck in the bug.

## Compilers
I observed this malfunctioning

[2017-12-06 14:30] MarceloSalazar commented on #40
It seems related to this: https://github.com/ARMmbed/mbed-os-example-cellular/issues/31

[2017-12-06 15:00] gggekov commented on #40
Powering the board with a 5V usb power supply doesn't solve the issue - still getting some Failures on receiving reply from the echo server. Furthermore, the board stills connects slowly to the server.

[2017-12-06 16:07] gggekov opened #41 "Export project to Keil - device not present"
I export the blinky to Keil via
`$ mbed export -i uvision -m UBLOX_C030_U201`

When opening the project in Keil I get to an error message "Missing device Family Pack STM32F4xx_DFS:2.11.0"
![keil-missing-device-information](https://user-images.githubusercontent.com/31919465/33671490-ad327056-da9f-11e7-843a-1cafd1059837.png)

After clicking Import I am stuck at another error - "One or more Device Fa

[2017-12-06 16:16] MarceloSalazar commented on #41
@theotherjimmy  please have a look

[2017-12-06 16:21] theotherjimmy commented on #41
Looks very similar to
https://github.com/ARMmbed/mbed-os/issues/5467

[2017-12-06 16:51] ciarmcom commented on #41
ARM Internal Ref: IOTCELL-277

[2017-12-06 16:52] MarceloSalazar commented on #40
@teetak01 please have a look

[2017-12-06 16:54] gggekov commented on #41
I've tried the fix from ARMmbed/mbed-os#5467 but I get compile error messages after following the described steps.  Is there something else I could try to properly import the C030 as a target in Keil?

[2017-12-06 17:00] gggekov opened #42 "C030-U201 board not available to import into the online compiler"
The C030-U201 board https://os-partnerbeta.mbed.com/platforms/ublox-C030-U201/ can't be imported in the online compiler. The button "Add to the online compiler" is missing on the page of the board. Therefore it's impossible to add it as a target in the online IDE.

[2017-12-06 17:05] theotherjimmy commented on #41
@gggekov What compiler errors did you get?

[2017-12-06 17:12] gggekov commented on #41
Hi @theotherjimmy

Here are the error messages

[code]

[2017-12-06 17:14] theotherjimmy commented on #41
@gggekov That's caused by not having the device support pack installed correctly. Have you installed it?

[2017-12-06 17:17] gggekov commented on #41
I've clicked the "install" button as per the first screenshot in the issue. However, after installing the missing packages I get stuck at the second screenshot from the description.
Should I install all packages by hand?

[2017-12-06 20:50] ciarmcom commented on #42
ARM Internal Ref: IOTCELL-280

[2017-12-07 06:47] teetak01 commented on #40
@AnttiKauppila

[2017-12-07 16:00] adbridge commented on #40
@AnttiKauppila Could you please look at this as a priority, we need to know if this is a genuine issue which could be a blocker , something that can be noted as a known issue or something that can be patched. If a fix needs to go into mbed-os for example that needs to be in, reviewed, through ci and merged ready for RC2 on Monday... Thanks

[2017-12-07 16:02] gggekov opened #43 "Export to IAR in Windows -"
I'm having problems when exporting the example application to IAR7 - "The system cannot find the file specified". The full error message and all the commands I'm using are below.

[code]

A research on google suggests it's probably an issue with my environmental variables.  I've tried to set up IAR through the system variables as well but the problem persists.

Do you have any suggestions how to s

[2017-12-07 16:23] MarceloSalazar commented on #43
@gggekov can you please confirm the version of IAR you are using? It seems you are using 7.5.
Please do update to 7.8 and let us know how it works.

[2017-12-07 16:50] ciarmcom commented on #43
ARM Internal Ref: IOTCELL-305

[2017-12-08 07:01] AnttiKauppila commented on #40
Under investigation

[2017-12-08 07:06] mhiljane commented on #40
Hi all, UDP is not reliable protocol and packets may get lost in the transmission process in internet. To get more reliable transmission/reception TCP should be used, which can be chosen from mbed_app.json by setting sock-type to be TCP.

[2017-12-08 10:50] adbridge commented on #42
@teetak01 @hasnainvirk  Is this board even officially supported yet then ?

[2017-12-08 11:12] JammuKekkonen commented on #42
Seems to be in web site at least. Also mbed-os supports the target. https://os.mbed.com/platforms/ublox-C030-U201/

[2017-12-08 11:24] adbridge commented on #42
@JammuKekkonen  You miss the point, on that supported platform page there is no option to import the target into the online IDE, which implies it isn't complete ?

[2017-12-08 11:39] MarceloSalazar commented on #40
Please don't close the ticket straight away without discussing and agreeing on next actions.

Conversations continues on Jira: IOTCELL-278

[2017-12-08 16:02] gggekov commented on #43
I'm using IAR 7.8 in the description of the issue.
[code]

[2017-12-08 16:21] MarceloSalazar commented on #43
@theotherjimmy please have look

[2017-12-08 16:44] theotherjimmy commented on #43
@gggekov You need to be able to execute `iccarm` from anywhere in your `cmd.exe`. You probably will need to add the location of `iccarm` to your PATH environment variable.

[2017-12-08 17:09] MarceloSalazar commented on #43
@theotherjimmy if the global settings were set (IAR_PATH), shouldn't this just work?
I'd expect the Makefile to be updated with the path to the toolchain. What do you think?

[2017-12-08 17:10] theotherjimmy commented on #43
@MarceloSalazar No. That's not how the exporters work. How would that work with the online compiler? it has no knowlage of your IAR_PATH environment var.

[2017-12-08 17:13] theotherjimmy commented on #41
I think it may need a `variant`, which requires a large update to cmsis-pack-manager.

[2017-12-11 14:10] MarceloSalazar commented on #41
@adbridge I think we need to add this to the known-issue list

[2017-12-11 14:13] MarceloSalazar commented on #42
I've discussed with @gggekov
There is an (internal) way to import the platform on Online IDE.
Pending action for @gggekov to try and report feedback.

[2017-12-11 14:30] gggekov commented on #42
I confirm the solution of @MarceloSalazar and the application runs fine.

[2017-12-11 14:30] #42 closed

[2017-12-11 14:36] gggekov commented on #43
I confirm that adding the location of `iccarm` to the system Path solved the problem. The application is now working.

[2017-12-11 14:36] #43 closed

[2017-12-12 12:17] MarceloSalazar commented on #40
Waiting for PR (https://github.com/ARMmbed/mbed-os-example-cellular/pull/44) to get merged before closing.

[2017-12-12 12:31] adbridge commented on #41
@theotherjimmy is there an outstanding issue to update the cmsis-pack-manager ? If not , can we have one please , then we can add something to the known issues if required, referencing that issue.

[2017-12-12 13:10] theotherjimmy commented on #41
@adbridge I created https://github.com/ARMmbed/cmsis-pack-manager/issues/16 to track the `variant` problem in cmsis-pack-manager.

[2017-12-12 15:37] adbridge commented on #41
@theotherjimmy thanks

[2017-12-18 13:41] MarceloSalazar commented on #40
Fixed

[2017-12-18 13:41] #40 closed

[2018-02-10 18:27] ralphrmartin commented on #41
Any timescale on a fix for this? I also am stymied trying to export a project to uvision.

[2018-02-12 20:49] ralphrmartin commented on #41
Soory, could you give me some direct instructions on what to do, please? The oblique references above are rather mystifying...

[2018-02-12 21:00] theotherjimmy commented on #41
@ralphrmartin The text above claim that uvision complains with:

You could choose the correct device at this point. I think that would at least allow you to build your code on devices with the "variant" problem.

[2018-02-12 21:18] ralphrmartin commented on #41
I already tried that, and I am afraid that doe not give me a solution which builds. I still get the errors shown.

[2018-02-12 22:01] theotherjimmy commented on #41
@ralphrmartin You could try replacing the string "STM32F437VG" with "STM32F437VGTx" in the to of your-project.uvprojx file.
for example:
[code]
would become
[code]

[2018-02-12 22:02] theotherjimmy commented on #41
In case it was not clear: "STM32F437VGTx" is the only variant of the UBLOX_C030_U201

[2018-02-13 08:46] ralphrmartin commented on #41
Thanks, but in my case the device is a STM32F091RC. What replacement do I need in that case?

[2018-02-13 08:58] ralphrmartin commented on #41
Aha, OK, I had to change it to STM32F091RCTx. Thanks for the pointer which got me going.

[2018-02-13 14:30] theotherjimmy commented on #41
It's great to hear that you found the workaround you needed. I'm working on the verification of the variant parsing in cmsis-pack-manager. I'll try to keep you posted on my progress.

[2018-03-01 12:27] kjbracey-arm opened #54 "OnboardCellularInterface used incorrectly"
This example invokes methods on `OnboardCellularInterface` that are not part of the `CellularBase` abstract class. This means it may not work if `OnboardCellularInterface` is not a `PPPCellularInterface`.

`OnboardCellularInterface` is documented as potentially being any class derived from `CellularBase`, depending on platform, so portable code should use only `CellularBase` methods.

https://gith

[2018-03-01 12:50] ciarmcom commented on #54
ARM Internal Ref: IOTCELL-651

[2018-03-07 10:13] kimlep01 commented on #41
I had the same error when exporting the example with MTS_DRAGONFLY_F411RE: "Device not found STM32F411RE". This would happen even after installing the required "Keil.STM32F4xx_DFP.2.12.0" pack.

The workaround:
select STM32F411RETx as the device
use ST-Link debugger
Debug: connect with pre-reset
Instructions found here: https://github.com/ARMmbed/mbed-os/issues/5467

[2018-03-08 07:27] AnttiKauppila commented on #41
@theotherjimmy Any progress on this?

[2018-03-08 14:51] theotherjimmy commented on #41
Yep, but nothing releasable yet. I have variant parsing in cmsis-pack-manager working. I need to add a few more bits and then integrate it with mbed-os.

[2018-03-16 15:48] dhwalters423 opened #59 "APN and Auth Info not available for MTB Dragonfly"
APN and auth info for the MTB Dragonfly is not available:

In the documentation
In the example
On the board page: https://os.mbed.com/modules/multitech-dragonfly/

This is a blocker, without this information the module is not usable with cellular.

[2018-03-16 16:23] AnttiKauppila commented on #59
ARM internal ref: IOTCELL-706

[2018-03-16 16:50] ciarmcom commented on #59
ARM Internal Ref: IOTCELL-707

[2018-03-19 08:20] jarvte commented on #59
Hi,

APN and credentials are not Dragonfly specific but SIM card.
APN is access point name specified by the operator which's SIM is in use.

https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-cellular/

In mbed_app.json file you need to change "sim-pin-code" to match you sim card pin code.
"apn" can be left empty if you don't know the right apn.

Most probably you don't need to change

[2018-03-19 10:42] dhwalters423 commented on #59
The Dragonfly MTB has an embedded SIM so I am thinking there must be a standard Apn. Would this come from the factory?

________________________________________
From: Teppo Järvelin <notifications@github.com>
Sent: 19 March 2018 08:20:49
To: ARMmbed/mbed-os-example-cellular
Cc: David Walters; Author
Subject: Re: [ARMmbed/mbed-os-example-cellular] APN and Auth Info not available for MTB Dragonfly (

[2018-03-20 07:37] jarvte commented on #59
Talked with @dhwalters423 and there is no esim and this case can be closed.

[2018-03-20 07:37] #59 closed

[2018-05-18 04:59] AriParkkila opened #67 "Out of memory on Mbed OS 5.8 with IAR compiler"
IAR build takes too much memory on mbed-os-5.8.x. Although the example builds fine it fails at runtime with a trace message: _Operator new[] out of memory_

Mbed OS master has fixes to reduce memory consumption and that is working fine.

[2018-05-18 07:50] ciarmcom commented on #67
ARM Internal Ref: IOTCELL-997

[2018-05-22 12:36] jarvte commented on #67
will be fixed to 5.8.6

[2018-05-22 12:36] #67 closed

[2018-05-31 09:07] gggekov opened #70 "Dragonfly module not detected by mbed detect command"
I've connected a Dragonfly module via Module Test Bed v1. However, the Dragonfly module is not detected by `mbed detect` command and I get the following error message:
[code]
My pip version is 10.0.1 and mbed-cli version is 1.5.1
[code]

Can you please take a look into that problem?
Thank you and kind regards,
George

[2018-05-31 09:22] MarceloSalazar commented on #70
@gggekov

Can you run 'mbed-ls' and share the output?
Make sure the board has the latest [interface firmware](https://os.mbed.com/platforms/MTS-Dragonfly/#interface-firmware)

[2018-05-31 09:41] MarceloSalazar commented on #70
I didn't say this works with DAPLink ;-)
Please use the link provided to update the [interface firmware](https://os.mbed.com/platforms/MTS-Dragonfly/#interface-firmware)

[2018-05-31 10:31] gggekov opened #71 "Dragonfly error- Attempt to override undefined parameter 'platform.stdio-buffered-serial' in 'application[*]'"
Compiling with ARM results in an error message: Attempt to override undefined parameter 'platform.stdio-buffered-serial' in 'application[*]'.
[code]
How can this be solved? I am on the `mbed-os-5.9.0-oob` branch . The same error message appears with GCC_ARM and IAR.

[2018-05-31 10:38] dhwalters423 opened #72 "Example fails to compile for C030 in beta online comiler"
When importing to the Beta online compiler: https://os-partnerbeta.mbed.com/compiler/ the example fails to compile with the following error:

![onlinecompilererror](https://user-images.githubusercontent.com/20944655/40777860-f8f35aee-64c6-11e8-948d-97a5f6c6161a.png)

On the live compiler: https://os.mbed.com/compiler/ the example compiles correctly and I am able to successfully run the example on

[2018-05-31 11:50] ciarmcom commented on #72
ARM Internal Ref: IOTCELL-1034

[2018-05-31 11:50] ciarmcom commented on #71
ARM Internal Ref: IOTCELL-1035

[2018-05-31 11:50] ciarmcom commented on #70
ARM Internal Ref: IOTCELL-1036

[2018-05-31 12:20] ashok-rao commented on #70
@gggekov : looking at PinNames.h https://github.com/ARMmbed/mbed-os/blob/master/targets/TARGET_STM/TARGET_STM32F4/TARGET_MTB_MTS_DRAGONFLY/PinNames.h#L204  .. I see LED1 is already defined. You may have to upgrade your mbed-ls version. For the DAPLink, that MTB I gave you should have dragonfly DAPLink, I can send you the DAPLink binary again if needed..

[2018-05-31 12:51] gggekov commented on #70
Thank you @ashok-rao
I updated the board with the image you gave me but am still getting the same result for mbed detect. What is the next step? Is the Dragonfly supposed to be supported by the mbed detect command?

[2018-05-31 12:56] gggekov commented on #72
I also encounter the same problem in https://os-partnerbeta.mbed.com.

[2018-05-31 12:57] ashok-rao commented on #70
mbedls should definitely work.. [from here](https://github.com/ARMmbed/mbed-ls/blob/master/mbed_lstools/platform_database.py#L95) .. I'm not sure about mbed detect..

[2018-05-31 13:18] AriParkkila commented on #71
Did you run _mbed update_ for mbed-os-5.9?

[2018-05-31 13:55] dhwalters423 opened #73 "Export to make_gcc_arm fails to compile"
The Makefile that is generated when the following command is run:

`mbed export -i make_gcc_arm -m UBLOX_C030_U201`

Fails to compile with the error:

``
make (e=87): The parameter is incorrect.
make[1]: *** [C:/Users/davwal04/Desktop/oob59/mbed-os-example-cellular/Makefile:1387: mbed-os-example-cellular.elf] Error 87
make: *** [Makefile:26: all] Error 2
``

Full stack trace is attached.
[makefile

[2018-05-31 14:13] dhwalters423 opened #74 "modem_trace does not work unless mbed-trace is also enabled"
Documentation lists **Turning modem AT echo trace on** and **Turning on the tracing and trace level** as 2 separate sections.

Modem trace only works when mbed-trace is also enabled.

Consider moving **Turning modem AT echo trace on** inside the  **Turning on the tracing and trace level** section, and adding a note that  mbed-trace is required to be enabled to see the modem-trace.

[2018-05-31 14:26] gggekov commented on #71
Yes, this solved the issue. Thank you!

[2018-05-31 14:26] #71 closed

[2018-05-31 15:09] gggekov opened #75 "Dragonfly module fails to get connected to the cellular network"
I struggle to connect the Dragonfly module to the cellular network. I am trying both TCP and UDP sockets and on both occasions have the following output:
[code]

Here is my mbed_app.json file:
[code]
In the json I compile I replace the * of username and password with the real values.  Also note that I have enabled trace debug and AT trace but don't get any debug information on the serial output.

[2018-05-31 15:18] ashok-rao commented on #75
@hasnainvirk .. any thoughts?

[2018-05-31 15:51] ciarmcom commented on #75
ARM Internal Ref: IOTCELL-1037

[2018-05-31 15:51] ciarmcom commented on #74
ARM Internal Ref: IOTCELL-1038

[2018-05-31 15:52] ciarmcom commented on #73
ARM Internal Ref: IOTCELL-1039

[2018-05-31 17:01] adbridge commented on #70
@theotherjimmy  Do you know if the mbed detect command should work for this target ?

[2018-06-01 06:52] AriParkkila commented on #75
Do you have SIM that requires PIN, such as

        "sim-pin-code": {
            "help": "SIM PIN code",
            "value": "1234"
        }

You need to enable trace flag to see more details:

        "mbed-trace.enable": true

You can see more AT debug prints when PR #69 is integrated.

[2018-06-01 07:53] gggekov commented on #70
@theotherjimmy
My `mbedls` is version 1.2.14 and for `mbed-ls` I am getting error(see my second post for the error message)

[2018-06-01 08:20] gggekov commented on #75
Hi @AriParkkila
Thank you for the comment. I attach the debug trace when I try to connect over TCP.
[code]
It looks like it fails to register to the cellular network. Do you have an idea what may the reason for that?
Thank you,
George

[2018-06-01 10:12] gggekov opened #76 "Troubleshooting: Suggestion for documentation improvement"
In the Troubleshooting section of https://github.com/ARMmbed/mbed-os-example-cellular/ provide information what to do when the cellular board doesn't connect to the network and the user is getting the following error message:
[code]
Suggested information to be included:

- Make sure the fields `sim-pin-code`, `apn`, `username` and `password` from the `mbed_app.json` file are filled in correctly. T

[2018-06-01 11:32] AriParkkila commented on #74
Fixed in changes:
* https://github.com/ARMmbed/mbed-os-example-cellular/pull/69
* https://github.com/ARMmbed/mbed-os/pull/7084

The fixes make AT-trace independent of mbed-trace flag.

[2018-06-01 11:51] ciarmcom commented on #76
ARM Internal Ref: IOTCELL-1041

[2018-06-01 12:39] AriParkkila commented on #75
The modem is searching for a new operator, but it can't find a suitable network to register. Could you check (from the operator) that the SIM has also GPRS enabled for a data network?

[2018-06-01 12:59] gggekov commented on #75
How can I do this check?
When I put the SIM into a mobile phone, it connects straight away to O2 network.

[2018-06-01 13:40] adbridge commented on #70
Latest version of mbed-ls is 1.4.5 @gggekov I suggest you upgrade

[2018-06-01 14:05] gggekov commented on #70
How can you do that?
`mbed-ls -update` and `mbed -update` do not work.

[2018-06-01 16:44] theotherjimmy commented on #70
@gggekov How did you get mbed-ls originally? Probably `pip install mbed-ls`. I recommend the same thing with the Upgrade flag: `pip install -U mbed-ls`.

[2018-06-01 17:14] gggekov commented on #70
Hi @theotherjimmy
I must have used the Windows installed to get mbed-cli initially.
[code]

[2018-06-01 19:28] theotherjimmy commented on #70
@gggekov You typed `install_U` I wrote `install -U` change `_` to ` -` (space, dash).

[2018-06-04 05:52] AriParkkila commented on #75
I guess that your phone should display 3G data connection icon when GPRS is active? You could also ask that from your SIM operator too.

One explanation could be that you have e.g. O2/comms365 4G SIM without 3G fallback? Because your phone most likely supports 4G, it can connect to 4G network. But Dragonfly has only 3G support so it can't connect to network because SIM has only 4G enabled.

[2018-06-04 07:40] AriParkkila commented on #76
@gggekov thanks a lot, I updated troubleshooting in
https://github.com/ARMmbed/mbed-os-example-cellular/pull/69

[2018-06-04 09:27] AriParkkila commented on #54
Example app uses only methods from CellularBase as there is no need to call `iface.modem_debug_on` anymore. That was changed to compile time definition `cellular.debug-at` in https://github.com/ARMmbed/mbed-os-example-cellular/blob/mbed-os-5.9.0-oob/mbed_app.json

[2018-06-04 09:47] AriParkkila commented on #76
The change is now merged in OOB branch. See Troubleshooting chapter in https://github.com/ARMmbed/mbed-os-example-cellular/tree/mbed-os-5.9.0-oob

Please close this issue, if the update looks good to you.

[2018-06-04 09:49] AriParkkila commented on #54
@kjbracey-arm does the fix look like we could close this issue?

[2018-06-04 09:54] AriParkkila commented on #31
@MarceloSalazar I think we can close this issue? Application has now a thread to print dots to indicate an ongoing progress.

[2018-06-04 09:54] dhwalters423 opened #78 "Test server echo.mbedcloudtesting.com issue"
Test server echo.mbedcloudtesting.com responds to UDP only 50% of the time. It responds to TCP 100% of time time, and UDP exactly 50% of the time.

Pointing to a different server, for example ciot.it-sgn.u-blox.com:5050, it is not reproducible, therefore I believe the issue is on the echo server itself.

[2018-06-04 10:14] AriParkkila commented on #41
@theotherjimmy package update seems to work now with uVision V5.25.2.0 and Keil.STM32F4xx_DFP.2.13.0.

There is still a Warning #440: Requested device 'STM32F437VG' is subsituted with variant 'STM32F437VGTx' for target 'mbed-os-example-cellular'

I don't have actual HW to test if it really-really works :)

[2018-06-04 10:18] MarceloSalazar commented on #31
Yes, that's fine. Thanks!

[2018-06-04 10:18] #31 closed

[2018-06-04 10:53] gggekov commented on #70
In fact I had done only `pip install -U mbed-cli`
Updating `mbed-ls ` solved the problem and `mbed detect` works fine.

[2018-06-04 10:53] #70 closed

[2018-06-04 11:00] kjbracey-arm commented on #54
I still see the `modem_debug_on` in master.

If you just deleted that, it probably clears the issue for now, but it could easily recur as long as you're directly instantiating and using the object. It would be nice enforce the abstraction by using `CellularBase::get_default_instance()` (now in 5.9) and just a `CellularBase` pointer.

5.9.0 doesn't have a `CellularBase`-to-`CellularDevice` (or what

[2018-06-04 11:16] AriParkkila commented on #54
Ok, I see there are two problems to fix:
* Only use CellularBase methods (remove `modem_debug_on`)
* Instantiate `CellularBase::get_default_instance()` instead of `OnboardCellularInterface`

[2018-06-04 11:17] kjbracey-arm commented on #54
Yep. Doing the second ensures you've done the first.

[2018-06-04 11:50] ciarmcom commented on #78
ARM Internal Ref: IOTCELL-1044

[2018-06-04 12:07] #76 closed

[2018-06-05 05:21] AriParkkila commented on #75
@gggekov "The SIM card has working 4G connection"...  Your Dragonfly modem only supports 3G connection. Could you check that SIM card also have 3G connectivity?

[2018-06-05 12:50] ashok-rao commented on #74
Thanks @AriParkkila for the quick action. But, I think we should NOT enable AT trace "together" with mbed-trace. This will spit out lots of information (similiar to what happens in the nanostack/cloud client examples). I think it's better to keep these separate and give an option to the user to individually enable either AT or mbed-trace only or both depending on needs..
@dhwalters423 , @MarceloSa

[2018-06-05 12:58] MarceloSalazar commented on #74
I understand each of the options have different purposes.
I'd suggest giving the option to the user to choose them independently.

[2018-06-05 13:59] theotherjimmy commented on #41
@AriParkkila The difference between the Variants of that device are restricted to package differences. That should work.

[2018-06-05 15:28] dhwalters423 commented on #74
I agree with @ashok-rao  and @MarceloSalazar approach here. Doesn't @AriParkkila 's PR accomplish that?

[2018-06-05 15:43] gggekov opened #81 "Exporters don't work for Dragonfly"
The `make_armc5` and `make_gcc_arm` exporters don't work properly for the Dragonfly board.
The error message I am getting is:
[code]
Is the Dragonfly module supported by the exporters?

[2018-06-05 15:51] ciarmcom commented on #81
ARM Internal Ref: IOTCELL-1062

[2018-06-06 06:41] AriParkkila commented on #74
The PR above introduces two individual flags. The both can be enabled separately, that is you can have either one or the both enabled:
* `cellular.debug-at` for Turning modem AT echo trace on
* `mbed-trace.enable` for Turning on the tracing and trace level

So I think this work just the way you have requested above.

[2018-06-06 07:02] AriParkkila commented on #81
`mbed export -S` shows that only `iar` is supported for MTB_MTS_DRAGONFLY.

Maybe you could open an issue to mbed-cli to enhance `export` so that it tells explicitly which exports are supported for the current target instead of telling just which is not supported..?

[2018-06-06 08:05] gggekov commented on #81
Thank you Ari for the comment.
I close the issue since you confirm Dragonfly is not supported by make_armc5 and make_gcc_arm.

[2018-06-06 08:05] #81 closed

[2018-06-06 11:44] AriParkkila commented on #54
@kjbracey-arm please check PR #83

[2018-06-07 07:12] AriParkkila commented on #54
Fix is now merged in the mbed-os-5.9.0-oob branch.

This issue can be closed when mbed-os-5.9.0-oob is merged to master.

[2018-06-07 08:07] AriParkkila commented on #41
@gggekov can you check if this issue is still valid?

[2018-06-07 08:13] AriParkkila commented on #74
Thanks, this issue can be closed when mbed-os-5.9.0-oob is merged to master.

[2018-06-07 11:37] dhwalters423 commented on #78
This appears fixed, unable to reproduce as of 07/06/2018 REF: IOTCELL-1000

[2018-06-07 11:37] #78 closed

[2018-06-07 11:43] dhwalters423 commented on #72
I have tried again later (today 07 June) and was able to successfully compile. @theotherjimmy is there any action we can take to increase bandwidth with the beta compiler?

[2018-06-07 12:53] ashok-rao commented on #72
Thanks for re-checking this @dhwalters423 . Partner beta will undergo some maintenance after 5.9 OoB..such issues should be resolved after that. Issue can be closed now!

[2018-06-08 08:39] gggekov commented on #75
Hi @AriParkkila
I confirm the SIM card has 3G connection.
Running the example on the `mbed-os-5.9.0-rc2` branch results in the same output as before. I am getting repeatedly the following message.
[code]

[2018-06-08 10:34] AriParkkila commented on #75
+CREG: 2 means that modem is searching for an GSM operator.
+CREG: 0 means that modem is **not** searching for an GSM operator.

It's fine that modem sends CREG: 0/2 notifications in a loop when the modem is trying to find a suitable network. The problem is that the log has no +CGREG notifications, which would indicate that modem tries to find also a 3G/GPRS network.

Can you insert the SIM in you

[2018-06-08 11:01] gggekov commented on #75
Hi Ari,
Yes, I confirm you that when I insert the SIM card in a phone it connects to the O2 network and my phone has data. I've tried with two different SIM cards and I am getting the same error message.

[2018-06-08 11:14] AriParkkila commented on #75
@gggekov did you disable 4G on your phone?

[2018-06-08 13:00] gggekov commented on #75
Hi @AriParkkila
I confirm you I have set network mode as 3G-only on my phone and I do have internet connection with the same SIM card I am using on the Dragonfly.
If no one knows who to fix this problem at the moment, probably you may enable it for the next release of MbedOS.

[2018-06-08 14:38] #72 closed

[2018-06-08 16:20] gggekov commented on #41
I no longer have this problem, I export a project and am able to open it in Keil normally(without the error message in the first post). Therefore I close the issue.

[2018-06-08 16:20] #41 closed

[2018-06-11 04:57] AriParkkila commented on #75
@gggekov can you use successfully any SW with that Dragonfly board + SIM combination? Could this issue be because of broken HW or old firmware?

[2018-06-11 08:19] gggekov commented on #75
Hello Ari,
The mbed-os-example-cellular is the only test I've done that is combining the Dragonfly board + SIM card.  Please let me know  if there is another example app I can try that combines SIM card + Dragonfly. The Dragonfly board itself is working fine.
Kind regards,
George

[2018-06-11 11:35] AriParkkila commented on #75
Yes, it would be good to check if modem firmware could be updated.

You could also try https://github.com/ARMmbed/mbed-os-example-cellular/tree/mbed-os-5.6-oob, which has previously been verified to work with Dragonfly.

[2018-06-11 13:36] SeppoTakalo commented on #75
If this already works on one of the tester, close this one and continue debugging network related issues on other thread.
This problem sound more generic to Cellular APIs and networking, than this application.

[2018-06-18 07:52] AriParkkila commented on #75
@gggekov any updates to this issue?

Do you think we could close this Github issue as @SeppoTakalo suggested, and continue debugging in ARM Internal Ref: IOTCELL-1037.

[2018-06-18 08:19] #75 closed

[2018-06-18 22:06] dlfryar opened #86 "mbed assertation failed: iface, file: ./main.cpp, line 228"
Out of the box build results in mbed assertation failed: iface, file: ./main.cpp, line 228

Updated mbed_app.json to add trace and debug

Updated main.cpp to add a 20 second wait after the dot_thread.start() which results in a HardFault.

[code]

Tried with the following hardware:

- [Gemalto Cinterion Connect Shield](https://www.gemalto.com/brochures-site/download-site/Documents/m2m-connect-shiel

[2018-06-18 22:07] dlfryar commented on #86
cc: @AriParkkila

[2018-06-18 22:15] dlfryar opened #87 "RadioAccessTechnology does not have a configuration parameter in mbed-os config system"
RadioAccessTechnology is not configurable using the mbed-os config system.

Configuration example:

   "radio-access-technology": {
      "help": "GSM,GSM_COMPACT,UTRAN,EGPRS,HSDPA,HSUPA,HSDPA_HSUPA,E_UTRAN,CATM1,NB1,UNKNOWN",
      "value": "\"CATM1\""
    },

[enum RadioAccessTechnology](https://github.com/ARMmbed/mbed-os/blob/master/features/cellular/framework/API/CellularNetwork.h#L119)

Same

[2018-06-18 22:16] dlfryar commented on #87
cc: @AriParkkila

[2018-06-18 23:53] ciarmcom commented on #87
ARM Internal Ref: IOTCELL-1110

[2018-06-18 23:53] ciarmcom commented on #86
ARM Internal Ref: IOTCELL-1111

[2018-06-19 13:38] AriParkkila commented on #86
@dlfryar thanks for good logs.

1) Assert is expected as K64F does not have _hosted cellular module_. You seem to be using K64F + Gemalto ELS61 module so you need to add this in the `mbed_app.json`:

    "macros": ["CELLULAR_DEVICE=GEMALTO_ELS61", "MDMRXD=D0", "MDMTXD=D1"]

2) You need to define also `"mbed-trace.enable": true` or update to _mbed-os-master_ because we are missing some debug commit

[2018-06-19 13:42] AriParkkila commented on #87
@dlfryar thanks, we will add that.

[2018-06-19 14:57] dlfryar commented on #86
Here's another run with the recommended changes:

##### Copy Gemalto drivers from [ciot-example](https://github.com/ARMmbed/ciot-example)

cp -R ciot-example/source/cellular/targets/GEMALTO mbed-os-example-cellular/
[mbed_app.json.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/2115744/mbed_app.json.txt)
mbed-os/features/cellular/framework/targets

##### Build syntax

[code]

#####

[2018-06-19 15:00] dlfryar commented on #86
One additional datapoint is that I have not been able to validate hardware flow control working with the Gemalto module.  Configuring "MDMRTS=D2" and "MDMCTS=D3" does not seem to work as expected.  I'm still having to jumper D2 and D3 in order for the board to respond on the AT interface.

[2018-06-20 10:08] AriParkkila commented on #86
@dlfryar there seems to be a NULL pointer crash if APN lookup is enabled. We will fix this immediately. ARM internal ref IOTCELL-1122

I don't actually know which pins should be defined on [K64F](https://os.mbed.com/platforms/FRDM-K64F/) as RTS/CTS?

[2018-06-20 10:42] AriParkkila commented on #54
@kjbracey-arm can we close this issue?

[2018-06-23 16:36] #74 closed

[2018-06-25 05:19] AriParkkila commented on #86
@dlfryar I think this can be closed as the both crash fixes are now merged, please see:
 * https://github.com/ARMmbed/mbed-os/pull/7275
* https://github.com/ARMmbed/mbed-os-example-cellular/commit/ecf43d8fffd0c9448d6755e9891f54890532873a

I guess you need to bridge RTS/CTS pins on Cinterion just the way you have already done.

[2018-06-25 15:07] dlfryar commented on #86
[code]

Reran with the same mbed_app.json above and a fresh clone including the copy step for the Gemalto drivers.

[build.log](https://github.com/ARMmbed/mbed-os-example-cellular/files/2133633/build.log)

[2018-06-25 15:11] dlfryar commented on #86
I'll work out the RTS/CTS issue once the example builds and runs cleanly.  I did learn that the Gemalto Cinterion module has the CTS/RTS pins fixed at D2/D3 so bending the pins and jumper wiring it is necessary.

#### FRDM-K64F

PTC16 – RX – D0
PTC17 – TX – D1
PTC18 – RTS – J6 pin 8
PTB9 – CTS – D2

![image](https://user-images.githubusercontent.com/960501/41858711-21b81300-7860-11e8-94d7-12c100dd

[2018-06-25 20:27] dlfryar commented on #86
@AriParkkila can you test with the K64F + Cinterion shield then with the NRF52840_DK?

[2018-06-26 04:18] AriParkkila commented on #54
As there has been no further requests, I'm closing this issue now.

[2018-06-26 04:18] #54 closed

[2018-06-26 05:57] AriParkkila commented on #86
@dlfryar thanks for the pin map. That seems to work, but note that you need to use K64F pin PTC18 in configuration:
    "macros": ["CELLULAR_DEVICE=GEMALTO_ELS61", "MDMRXD=D0", "MDMTXD=D1", "MDMRTS=PTC18", "MDMCTS=D2"]

I tried that on both Cinterion EVB and Connect Shield. It seems that my connect shield does not need RTS/CTS to be bridged at all, but it's enough to connect TX/RX.

Also NRF52840_

[2018-06-26 17:45] dlfryar commented on #86
Verified assertion is resolved with latest release.

[2018-06-26 17:45] #86 closed

[2018-09-12 11:49] AnttiKauppila commented on #87
@AriParkkila What is the status of this?

[2018-10-01 06:37] kivaisan commented on #87
I don't think RAT should be a cellular library configuration as RAT can be changed via CellularNetwork's `nsapi_error_t set_access_technology(RadioAccessTechnology rat)` API.

If user is using EasyCellularConnection, this can be called for example like:
[code]

[2018-11-26 10:54] AriParkkila commented on #87
PR https://github.com/ARMmbed/mbed-os/pull/8821

[2018-12-06 09:27] tz-arm opened #112 "Fault exception for Quectel BC28 echo test with TCP mode."
### Description
- Type: Bug
- Related issue: none
- Priority: Major
---------------------------------------------------------------
## Bug

**Target**
K64F + Quectel BC28 Arduino Shield

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc.exe (GNU Tools for ARM Embedded Processors 6-2017-q1-update) 6.3.1 20170215 (release) [ARM/embedded-6-branch revision 245512]

**mbed-cli version:**

[2018-12-06 12:00] tz-arm commented on #112
Find out the root cause and submitted a pull request: https://github.com/ARMmbed/mbed-os/pull/8988

[2018-12-10 03:12] tz-arm commented on #112
Switch to pull request https://github.com/ARMmbed/mbed-os/pull/9025.

[2018-12-12 12:00] #87 closed

[2018-12-13 16:14] adbridge commented on #112
Is this now fixed ?

[2018-12-14 05:58] jarvte commented on #112
@adbridge Yes this is fixed, I will close the issue.

[2018-12-14 05:58] #112 closed

[2018-12-18 11:24] toyowata opened #113 "The mbed-os.lib should have commit hash"
Current mbed-os.lib file points to the correct GitHub repo, but no commit hash.

https://github.com/ARMmbed/mbed-os-example-cellular/blob/master/mbed-os.lib

This means we could have non-single version of the example code because mbed import (or mbed deploy) copies from newest mater branch, even not latest release.

[2018-12-18 12:44] adbridge commented on #113
@toyowata I believe this will be fixed when we release mbed-os-5.11

[2018-12-18 12:45] 0xc0170 commented on #113
https://github.com/ARMmbed/mbed-os-example-cellular/blob/mbed-os-5.11.0-oob/mbed-os.lib 👍

[2018-12-19 11:47] #113 closed

[2019-02-08 10:57] szymsta opened #120 "In readme, link to cellular documentation doesn't work"
In readme, there is a reference to Mbed OS cellular documentation (https://os.mbed.com/docs/mbed-os/v5.11/reference/cellular-api.html), that page doesn't exist, though.

[2019-02-08 14:26] ciarmcom commented on #120
ARM Internal Ref: IOTCELL-1705

[2019-02-15 13:47] mirelachirica commented on #120
Fixed in commit: https://github.com/ARMmbed/mbed-os-example-cellular/commit/d79c6fd959a7364a797a84c733afb24151c576a6

[2019-02-15 13:47] #120 closed

[2019-03-19 05:29] chuanga opened #125 "Hard-fault exception when compiling with IAR v8.32.1 (mbed-os-5.12.0-rc2) OoB testing"
Mbed OS version: mbed-os-5.12.0-rc2
Platform: MTB_ADV_WISE_1570
IAR: v8.32.1 - https://netstorage.iar.com/SuppDB/Protected/PRODUPD/013356/EWARM-CD-8321-18631.exe
       v7.5 is working fine.
Error log:
==============================================
-- MbedOS Error Info --

mbed-os-example-cellular

Built: Mar 19 2019, 11:07:25

++ MbedOS Fault Handler ++

FaultType: HardFault

Context:
R0   : 0000

[2019-03-19 14:26] ciarmcom commented on #125
ARM Internal Ref: IOTCELL-1816

[2019-03-20 12:43] kivaisan commented on #125
IAR 8.32 does not seem to allow null string as printf parameter. Fix PRs created.

[2019-03-21 10:54] adbridge commented on #125
This should now be fixed and the fix come into RC4

[2019-03-21 10:57] kivaisan commented on #125
I merged the new PR for 5.12 branch https://github.com/ARMmbed/mbed-os-example-cellular/pull/128

[2019-03-27 11:48] #125 closed

[2019-04-09 08:19] MarceloSalazar opened #132 "Need example updated to Mbed OS 5.12+"
Please update mbed-os.lib and required configuration (mbed_app.json) for multiple platforms/shields to use this example as a reference for Mbed OS 5.12 based applications.
Thanks!

[2019-04-09 08:20] MarceloSalazar commented on #132
Related to https://github.com/ARMmbed/mbed-os-example-cellular/pull/131

[2019-04-09 08:50] AnttiKauppila commented on #132
@MarceloSalazar Which platforms are you referring?

[2019-04-09 09:44] MarceloSalazar commented on #132
From my point of view, is not a problem about platform, but rather configuration to enable a shield using serial/SPI (as I understand there is a new way of doing this in 5.12).
Can be K64 or L475 platforms with both BG96 or Gemalto shields.

Once this new config is in place, we can introduce more for other shields that are currently in the works.

[2019-04-09 10:51] AnttiKauppila commented on #132
@AriParkkila Can you help with this?

[2019-04-11 09:43] AriParkkila commented on #132
@MarceloSalazar It's now updated to Mbed OS 5.12+. Can we close this ticket?

[2019-04-11 10:02] MarceloSalazar commented on #132
Yes, thank you!

[2019-04-11 10:02] #132 closed

[2019-05-02 07:26] heejungPark opened #137 "Not working on SDT64B"
Hi, I tested this code on our device(SDT64B).
But it is not connected to server and I got a log([Log.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/3137022/Log.txt)).
I don't know what the problem is.
Could you please check this log and answer me?
Thanks.
Here are my code(main.cpp, mbed_app.json).
[mbed-os-example-cellular.zip](https://github.com/ARMmbed/mbed-os-example-cellular/fi

[2019-05-02 10:34] heejungPark commented on #137
I found one thing.
I modify PIN number from "1234" to "0000".
But same result...

[2019-05-02 10:51] heejungPark commented on #137
For more detail log, "cellular.debug-at" is changed to true.
Here is the log([Log2.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/3137688/Log2.txt)).

[2019-05-02 13:26] ciarmcom commented on #137
ARM Internal Ref: IOTCELL-1981

[2019-05-02 14:44] mirelachirica commented on #137
@heejungPark
Logs are showing that there are 2 PDP contexts defined:
+CGD CONT: 1,"IPV6","lte-internet..sktelecom.com","0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0",0,0,0,0
+CGDCONT: 2,"IP" ,"lte-internet.sktelecom.com","0.0.0.0",0,0,0,0

This might cause the problem.

In order to delete existing PDP contexts you could try adding following "one time" routine to your application, before connect:

[code]
Let us

[2019-05-03 13:26] heejungPark commented on #137
@mirelachirica

For reference, we are using BG96 as Cat.M1 module.
With this module, we additionally tested two projects except this code(`mbed-os-example-cellular`).
1. https://os.mbed.com/users/hkjung/code/WIZnet-IoTShield-BG96-Ping => Success
1.  https://os.mbed.com/users/hkjung/code/mbed-os-example-cellular-BG96 => Fail

Because of the result of first project, I think BG96 module could be norm

[2019-05-03 13:56] mirelachirica commented on #137
Can you try removing "target.features_add": ["LWIP"] from json file?

[2019-05-06 06:15] heejungPark commented on #137
I tried it but same results...

[2019-05-06 06:44] mirelachirica commented on #137
I just noticed in the log file that the clearing of contexts before connect wasn't working since the modem was not ready to receive AT commands yet. So it has to be done later:
- somewhere in AT cellular stack for example in begining of AT_CellularContext::get_context()
OR
- define cellular callback in main that would check for SIM READY state and do the routine of clearing the contexts at that po

[2019-05-06 07:20] heejungPark commented on #137
I used your second way on my project.
The result is same but a little message is different.
Here are my files. Please refer it.
[File.zip](https://github.com/ARMmbed/mbed-os-example-cellular/files/3146856/File.zip)

[2019-05-06 10:28] mirelachirica commented on #137
Now from log it can be seen that old context were deleted correctly.
But QIACT still fails. From WIZnet-IoTShield-BG96-Ping example I see the context is setup with QICSGP not the standard CGDCONT. So what could be tried is replace in AT_CellularContext::set_new_context(...)
[code]
with

[code]

[2019-05-07 02:05] heejungPark commented on #137
Yes, it makes a difference.
Now I can see "Connection Established." message.
But the next step could be fail.
Here are the logs([Log5.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/3150477/Log5.txt)).
Thanks.

[2019-05-07 06:04] heejungPark commented on #137
I have a additional question.
Why are the old contexts from WIZnet-IoTShield-BG96-Ping example left?
To set this module to initial state, is there a way that I delete all contexts in module?
Thanks.

[2019-05-07 06:59] mirelachirica commented on #137
The DNS name resoving fails. You could try one of the following:
- to see if basic test to send and receive from echo server is working:
**in json file change "\"echo.mbedcloudtesting.com\"" to "\"52.215.34.155\"" -> no DNS resolving will be needed**

- in current log the IP address for the modem is IPv6 address: 32.1.2.216.19.172.90.185.0.0.0.0.105.136.157.0.
To see if it helps the DNS resolving

[2019-05-07 07:04] mirelachirica commented on #137
Other than suggested above no. There is no API at the moment to do this.

[2019-05-07 10:20] heejungPark commented on #137
Is it right as follows?
Please check this([Log6.txt](https://github.com/ARMmbed/mbed-os-example-.cellular/files/3152058/Log6.txt)).
Thanks.
![image](https://user-images.githubusercontent.com/40823519/57292244-4b5d8380-70fc-11e9-9112-7b41475cb5ef.png)
![image](https://user-images.githubusercontent.com/40823519/57292327-6f20c980-70fc-11e9-9f78-eb061c0629b7.png)

[2019-05-07 10:27] mirelachirica commented on #137
I cannot access the Log6.txt file.

[2019-05-07 10:32] mirelachirica commented on #137
Yes, the modifications look correct. It can be tried with both 1 and 2 values for QICSGP, once the echo server is set in json to be the IP address.

[2019-05-07 10:59] heejungPark commented on #137
Sorry please access again?
[Log6.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/3152224/Log6.txt)

[2019-05-07 11:03] mirelachirica commented on #137
Log6 shows again 2 contexts. Can you enable the clearing of contexts code?

[2019-05-07 11:33] heejungPark commented on #137
Oh sorry, I attached log again.
[Log7.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/3152338/Log7.txt)

[2019-05-07 11:40] mirelachirica commented on #137
Now old contexts are deleted but the context setup with QICSGP and type 1(IPv4) it fails to activate with QIACT. So please change back QICSGP to use type 2(IPv4v6) and leave the echo test as IP address.

[2019-05-08 02:55] heejungPark commented on #137
I changed code as follows.

![image](https://user-images.githubusercontent.com/40823519/57344497-75f21f80-7182-11e9-8826-c0096b3a7d6a.png)

![image](https://user-images.githubusercontent.com/40823519/57344487-6672d680-7182-11e9-9110-52ee2b3240c1.png)

So this try successes.
Here is the log.
[Log8.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/3155151/Log8.txt).

[2019-05-08 06:30] mirelachirica commented on #137
Good!

So it seems the DNS resolving doesnt work for some reason. From the log when DNS solving is taking place, I can see that there is no responses coming from any of the DNS servers where requests are sent: 8.8.8.8, 209.244.0.3, 84.200.69.80.

Is it possible that you could try with WIZnet-IoTShield-BG96-Ping example to call getIpAddressByName_BG96(...), to see if there is some generic problem o

[2019-05-08 09:42] heejungPark commented on #137
Sorry, it is not the answer about your request.

First, I checked a array named pdp_type_str[].
This array is always "IP".
I don't know why `modem_supports_ipv4` is true and `modem_supports_ipv6` is false?

For test, when I set "IPV6" or "IPV4V6" by force, it is working well as follows.
So, I think it could be another solution if user can control `modem_supports_ipv6` to true.
Is there a way that

[2019-05-08 09:52] mirelachirica commented on #137
The IPv6 support for the modem has to be set in:
QUECTEL_BG96.cpp: cellular_properties[AT_CellularBase::PROPERTY_MAX]
...
0,  // PROPERTY_IPV6_STACK -> 1,  // PROPERTY_IPV6_STACK
...

[2019-05-08 09:55] mirelachirica commented on #137
What works well? The context activation with CGDCONT, so no need for QICSGP?

[2019-05-08 10:11] heejungPark commented on #137
Ah, I see, I found that.
Then, is it not care that I change value of this `cellular_properties`?

"IPV6" and "IPV4V6", both is working well.

[2019-05-08 10:29] mirelachirica commented on #137
No problem. It should be changed according with the modem support.

What works well, the context activation without need for QICSGP?

The echo server is still set as IP address?

[2019-05-08 10:39] heejungPark commented on #137
You can see it in a part of code and serial log, I used CGDCONT.
PROPERTY_IPV6_STACK of cellular_properties is set 1, it could be no problem to use CGDCONT.

And echo server is still set as IP address(52.215.34.155).
when echo.mbedcloudtesting.com, it is not working.

[2019-05-08 11:13] mirelachirica commented on #137
Ok, very good finding. Please let me know if you have time to check the DNS resolving as I proposed earlier. Thanks.

[2019-05-09 05:25] heejungPark commented on #137
Sorry but I don't know what I should input parameters of getIpAddressByName_BG96(...).

[2019-05-09 06:17] mirelachirica commented on #137
First parameter should be the name to be resolved: "echo.mbedcloudtesting.com" and second parameter should be a buffer where the IP address is saved:
[code]

[2019-05-14 19:39] loverdeg-ep commented on #137
@mirelachirica Any further comments on the log provided?

[2019-05-15 06:08] mirelachirica commented on #137
Last log proves that in your network/setup, DNS resolving works when proprietary command AT+QIDNSGIP is used. We have to check and consider having support for this command.

[2019-05-15 08:31] heejungPark commented on #137
Okay thanks.
It seems that USIM card of this module may be discarded.
If it is true, could it be a reason of our problem?

[2019-05-21 08:17] mirelachirica commented on #137
@heejungPark can you check if changing in QUECTEL_BG96_CellularStack::create_socket_impl(...): _at.write_string("127.0.0.1"); -> _at.write_string("0:0:0:0:0:0:0:1"); helps the DNS resolving?

This seems to be the case in following PR:
https://github.com/ARMmbed/mbed-os/pull/10473

[2019-05-21 08:36] DanielDmlee commented on #137
Hi @mirelachirica, Already @heejungPark and I had talked about this patch. We guess this problem was from an expired SIM card. As far as I know, heejungPark try to changing SIM card via seller.

[2019-06-20 08:30] hugueskamba opened #146 "Inconsistent field names in troubleshooting section"
The section reads:

It should really say:

[2019-06-20 09:34] hugueskamba opened #147 "Missing steps to working with NRF52840"
The pins of the BG96 shield need to be specified in `mbed_app.json`. This information is missing from the documentation.

[code]

[2019-06-20 13:26] ciarmcom commented on #147
ARM Internal Ref: IOTCELL-2091

[2019-06-20 13:26] ciarmcom commented on #146
ARM Internal Ref: IOTCELL-2092

[2019-06-24 06:54] kivaisan commented on #147
@hugueskamba PIN settings are HW specific, so no generic settings can be put into example.
If you have some target which has known pins, those can be configured in driver's mbed_lib.json. For example BG96: https://github.com/ARMmbed/mbed-os/blob/15b5b5da23b970d397e7d94bfcda7e38fa3870c8/features/cellular/framework/targets/QUECTEL/BG96/mbed_lib.json#L41

[2019-06-24 07:03] hugueskamba commented on #147
What I meant was that the documentation should make clear to the user that s/he might need to setup the PINs.

[2019-06-24 07:37] kivaisan commented on #147
@hugueskamba Ok. We'll check the documentation for this.

[2019-08-07 13:11] vladdnikolic opened #154 "CY8CKIT-062-BLE not detected by 'mbed detect'"
I have a Cypress CY8CKIT-062-BLE kit. When I run the command `mbed detect` I get this message

`[mbed] Detected None, port COM31, mounted D:, interface version 0254:
[mbed] Supported toolchains for None
| Target               | mbed OS 2 | mbed OS 5 |    uARM   |    IAR    |    ARM    |  GCC_ARM  | ARMC5 |
|----------------------|-----------|-----------|-----------|-----------|-----------|--------

[2019-08-07 13:26] ciarmcom commented on #154
ARM Internal Ref: IOTCELL-2124

[2019-09-20 07:40] AriParkkila commented on #147
@hugueskamba This is documented in `NetworkInterface::get_default_instance()`:
[code]
BG96 specific configuration is documented in its `mbed_lib.json`:
[code]

[2019-09-20 08:43] hugueskamba commented on #147
Hi @AriParkkila ,

When doing OOB I follow the content of the README. Without that information in the README it does not work. I think it would be a good idea to add it to the README.

[2019-09-20 10:53] AriParkkila commented on #146
Fix in PR #160.

[2019-09-20 10:53] #146 closed

[2019-09-20 11:43] AriParkkila commented on #147
@hugueskamba That sounds good, fixed README at PR #161.

[2019-09-20 11:43] #147 closed

[2019-09-23 07:37] AriParkkila commented on #154
@vladdnikolic This sounds like an [mbed-cli](https://github.com/ARMmbed/mbed-cli) issue, please open a new issue there if problem still exits.

[2019-09-23 07:37] #154 closed

[2019-09-23 07:43] AriParkkila commented on #137
Closing as resolved.

[2019-09-23 07:43] #137 closed

[2019-10-09 21:09] iliapenev opened #164 "Example not running on custom Quectel port"
I'm doing custom Quectel MC60 port. It's based on MC26 target in mbed 5.14.
Modem is connected to STM Nucleo L476RG
Example could not be started. It could not get context.

Problem appears to be here.
https://github.com/ARMmbed/mbed-os/blob/master/features/cellular/framework/AT/AT_CellularContext.cpp#L490

I tried with lwip.ppp enabled and disabled
[code]
[AT-Detailed-log.txt](https://github.com/A

[2019-10-09 21:11] ciarmcom commented on #164
ARM Internal Ref: IOTCELL-2244

[2019-10-20 21:56] iliapenev commented on #164
https://github.com/ARMmbed/mbed-os/pull/11717 Solves problem.

Carefully checked all `_at.lock` `_at.unlock` pairs and I found where is problem.

[2019-10-20 21:56] #164 closed

[2019-12-13 12:07] peksaa01 opened #172 "Operator new[] out of memory with U-Blox C027"
Out of memory when U-Blox C027 compiled with ARMC6.13 or IAR 8.32.1. Trace on with level TRACE_LEVEL_DEBUG and debug-at true.

++ MbedOS Error Info ++
Error Status: 0x8001011F Code: 287 Module: 1
Error Message: Operator new[] out of memory
Location: 0x0
Error Value: 0x330
Current Thread: main Id: 0x10003264 Entry: 0xA009 StackSize: 0x1000 StackMem: 0x100009D8 SP: 0x100017F0
For more info, visit: h

[2019-12-13 12:52] adbridge commented on #172
@AnttiKauppila @JanneKiiskila @jamesbeyond are you guys aware of any issues like this with the U-Blox board ?

[2019-12-13 13:23] JanneKiiskila commented on #172
Nope.

[2019-12-13 13:54] jamesbeyond commented on #172
No, I am not aware of this issue, if providing more info, e.g. which version of mbed-OS , (SHA would be even better). what steps to reproduce the issue, ( e.g. what mbed configuration/profile been used, what is the command line to build, on which example) that would be helpful to let us reproduce the issue.

In general, on a memory restraint platform using debug profile, could lead to out of memor

[2019-12-13 13:55] adbridge commented on #172
@jamesbeyond this is with RC2 and the mbed-os-example-cellular

[2019-12-13 14:26] ciarmcom commented on #172
ARM Internal Ref: IOTCELL-2360

[2019-12-16 12:00] kimlep01 commented on #172
Hi,

This is a known issue with the C027. We are not prioritising this board anymore due to RAM constraints and we suggest using UBLOX_C030_U201 which is a higher priority board for us.

[2020-01-08 05:57] soleilplanet opened #177 "P-L496G-CELL02 (DISCO_L496AG+BG96) does not ramp up to the network"
I'm trying to get the P-L496G-CELL02 device to the network (using STModCellular, BG96), but the modem cannot attach to the network.
So I enabled AT logs and saw that the driver gets the RSSI value, but keeps sending 'AT_CEREG?' and gets the response of '"2,4", indicating that it can not register to the operator.
However, with the same SIM card, it ramps up to the network with another BC95G device

[2020-01-08 05:58] soleilplanet commented on #177
@MarceloSalazar would you please help? Thanks!

[2020-01-08 08:03] jeromecoutant commented on #177
Hi
Maybe you could enable mbed-trace in order to check what happened in STModCellular ?

https://github.com/ARMmbed/mbed-os/tree/master/features/frameworks/mbed-trace

[2020-01-08 08:20] LMESTM commented on #177
Hmm ...
Make sure the Antenna is well mounted.
Make sure you're selecting the proper SIM slot (there is embedded sim and external sim on this module
Also be patient, it may take a pretty long time (several minutes, up to 10?) for the module to scan all the supported frequency range the first time it connects to the NW

[2020-01-08 08:57] soleilplanet commented on #177
attaching the logs with mbed-trace set to debug level:
[20200108_cellular-example-02.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/4034343/20200108_cellular-example-02.txt)
The signal strength shown in the log is the same with the results showing with other NB-IoT devices. (it's not bad, around -63db - -57db)
Thanks for helping!

[2020-01-08 10:17] AnttiKauppila commented on #177
Would it be possible to get logs also from success case?

[2020-01-08 13:18] mirelachirica commented on #177
At least logs show APN lookup used:

[00010529ms][INFO][CELL]: Looked up APN internet

Could you try define the correct APN in json:

"nsapi.default-cellular-apn": "\"your-apn\""

[2020-01-08 14:26] ciarmcom commented on #177
ARM Internal Ref: IOTCELL-2381

[2020-01-09 05:17] soleilplanet commented on #177
@mirelachirica  I've set APN lookup to false with the operator's APN, logs attached:
[20200109_cellular-example-02.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/4038689/20200109_cellular-example-02.txt)
However, for your information, APN lookup works on other devices with R410M-02B and BC95G with this operator.
@AnttiKauppila  unfortunately this module has never successfully rampe

[2020-01-09 07:15] AnttiKauppila commented on #177
@soleilplanet I was meaning logs with other modems )R410M-02B and BC95G) so we can see if the logs differ with failing BG96 from SIM perspective. I was thinking exactly the same as Mirela pointed out with APN lookup.

[2020-01-09 07:39] soleilplanet commented on #177
@AnttiKauppila  I just collected the log with BC95G (apn-lookup is true):
[20200109_bc95g_ref_log.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/4039202/20200109_bc95g_ref_log.txt)
I just noticed that I forgot to attach the antenna to this device so the RSSI shown in the log is -109, but somehow it still ramps up to the network.

[2020-01-09 09:00] LMESTM commented on #177
@soleilplanet

You can find information in the X-CUBE-Cellular package (you can follow the release note information)
https://my.st.com/content/my_st_com/en/products/embedded-software/mcu-mpu-embedded-software/stm32-embedded-software/stm32cube-expansion-packages/x-cube-cellular.html

In this package, there is a utility with some information on how to flash the modem:
\Utilities\Modem_FW\BG96\Pack_B

[2020-01-09 12:22] mirelachirica commented on #177
"2,4" is response to AT+CGREG(GPRS network registration status)
response for AT+CEREG(EPS network registration status ) is "2,2" -> searching for network + last one is "2,0" meaning is not searching anymore
A succesful run with BG96 looks as follows:
[BG96_succesfull_EPS_nw_registration.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/4040279/BG96_succesfull_EPS_nw_registration.txt)

[2020-01-10 05:00] soleilplanet commented on #177
@mirelachirica  I checked the command and it returns 0xf,0x80,0x80, so I think it's using band 8 for NB, which is the band this operator is using.
However, I tried to set it to CM_BAND_PREF_ANY, but keeps seeing errors; would you please help to see if I'm calling the right way?
	printf("sending (%s) to modem...", "AT+QCFG=\"band\",0xf,0x80,0xA0E189F,0\n");
	_at.flush(); // flush existing data
	_at

[2020-01-10 07:16] soleilplanet commented on #177
@LMESTM @mirelachirica I've upgraded to the new firmware; unfortunately it doesn't seem to help:
[20200110_band_check_new_bg96_fw_002.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/4044362/20200110_band_check_new_bg96_fw_002.txt)
upgraded to version: BG96MAR02A08M1G

[2020-01-10 14:12] mirelachirica commented on #177
@soleilplanet for some reason this command succeeds only when CR is feed between arguments instead of comma ','.
Following format is returning OK for me:

_at.at_cmd_discard("+QCFG","=", "%s%b%b%b%d", "band", "0xf",3,"0x80",3,"0xa0e189f",9,1);

[2020-01-13 06:55] soleilplanet commented on #177
@mirelachirica  I tried the command you shared and it is also returning OK here, but looks like it didn't take effect and the value of the configuration stays 0xf,0x80,0x80. Logs attached:
[20200113_cellular-example-01.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/4052346/20200113_cellular-example-01.txt)
I've tried to set the <effect> field to be 0 and reboot the device, but it i

[2020-01-13 08:18] LMESTM commented on #177
@soleilplanet  No clue sorry. My next recommendation would be to try the X-CUBE-CELLULAR SW package from st.com with it documentation and see if that can help. I think that this package offers a menu over console for setting up the bands.

[2020-01-13 11:55] mirelachirica commented on #177
@soleilplanet this format has effect:
[code]

[2020-01-14 06:00] soleilplanet commented on #177
@mirelachirica the command works and now NB-IoT band support has been changed to CM_BAND_PREF_ANY.
I tried multiple SIM cards from different operators but none of them work. Logs attached:
[20200114_cellular-example-cht-band8-01.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/4057548/20200114_cellular-example-cht-band8-01.txt)
[20200114_cellular-example-fet-band28-01.txt](https://gi

[2020-01-16 05:58] toyowata opened #178 "mbed-os.lib doesn't use release version"
The mbed-os.lib links to a master branch hash, not release version.

See here:
https://github.com/ARMmbed/mbed-os-example-cellular/issues/113

[2020-01-16 10:49] mirelachirica commented on #177
@soleilplanet you could also try manual registration by providing your operator PLMN in json: "nsapi.default-cellular-plmn": "\"mccmnc\""

Bband setting commands can be removed too since CM_BAND_PREF_ANY is already set for NB-IoT.

[2020-01-16 12:04] soleilplanet commented on #177
@mirelachirica I've tried to add PLMN earlier today, but it didn't help either. However, I managed to try another BG96 device (WIO BG96) and it works (either with or without PLMN). I am planning to try locking bands on 8, 20 and 28 and lock the mode to NB1 tomorrow and see how it goes. Will keep you posted.

[2020-01-17 05:56] soleilplanet commented on #177
@mirelachirica  @LMESTM
I've locked the band to 8,20,28 and mode to NB1, but will not working.
This is the log with mode locked at NB1 and bands locked at 8,20,28, and PLMN is null:
[20200117_lockbandmode_test_003-null-plmn-rat9.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/4075228/20200117_lockbandmode_test_003-null-plmn-rat9.txt)

However, during the test I found that the modem

[2020-01-21 14:27] mirelachirica commented on #177
Manual COPS needs bigger AT timeout. It is not used or configurable at the moment. You can try in

` AT_CellularNetwork::set_registration(const char *plmn)` to replace:

[code]

with

[code]

[2020-01-22 07:58] soleilplanet commented on #177
@mirelachirica  I followed your modification, and now it's getting a CME ERROR: 30.
[20200122_manual_cops_001.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/4095860/20200122_manual_cops_001.txt)
There is a set of new device coming in 1-2 weeks, I guess we'll need to see if it's the same with the new one? Thanks!

[2020-01-22 08:20] mirelachirica commented on #177
description for this: "No network service"

[2020-02-05 06:42] soleilplanet commented on #177
I've got the new set of L496AG-CELL02 and STMOD BG96 device and it works, so I think this would be a hardware issue.
@mirelachirica do you think you need the problematic board so see if there is any potential issue?
If not, I think we can close this issue. If so, please let me know.
Thanks!

[2020-02-05 07:32] jeromecoutant commented on #177
Hi
Note I have just added FW version log in https://github.com/ARMmbed/mbed-os/pull/12339
You could check the difference ?

[2020-02-07 02:57] soleilplanet commented on #177
@jeromecoutant  sure, but I am in self-quarantine now due to our coronavirus policy so I dont have access to the problematic board at the moment. I'll check the difference when I have access to the board.

[2020-02-07 08:00] jeromecoutant commented on #177
Second question/assumption :-)

Has someone already used the "faulty" modem before using it in mbed-os application ?
See for example https://github.com/ARMmbed/mbed-os/issues/12381 or
https://github.com/ARMmbed/mbed-os/pull/12340

Your new modem is maybe the same as the first one, but it starts from "reset" SW.

@AriParkkila

[2020-02-17 11:47] AriParkkila commented on #177
It's quite common here (as well) to see "faulty" BG96s, which actually just were written accidentally with some persistent configurations :) It may help to recover, if you flash a new/different firmware on the BG96.

@soleilplanet This issue can be closed?

[2020-02-24 05:11] heejungPark opened #180 "BG96 Test with NUCLEO_F429ZI"
We only modified mbed_app.json as below and got a [Log.txt](https://github.com/ARMmbed/mbed-os-example-cellular/files/4243141/Log.txt).
Our Hardware connection is okay... but It looks like power of modem is not running.
For reference, This example(https://os.mbed.com/users/Daniel_Lee/code/mbed-os-example-cellular-BG96/) is running on our hardware setting.
Could you please check parameters and this

[2020-04-22 11:19] ciarmcom commented on #180
ARM Internal Ref: IOTCELL-2451

[2020-04-22 11:19] ciarmcom commented on #178
ARM Internal Ref: IOTCELL-2452

[2020-04-29 07:17] jeromecoutant commented on #177
Let's close this issue ?
Thx

[2020-06-08 12:15] jeromecoutant commented on #177
ping

[2020-06-08 13:24] #177 closed

[2020-07-08 05:53] hasikp1 opened #192 "Support for Sim7000E"
Does the mbed os cellular support simcom modems? At the moment I am trying with a SIMCOM SIM7000E modem and Stm32 blue pill (stm32f103c8t6). It only contains 64Kbytes flash. I am receiving following errors.

[error log](https://pastebin.com/Q7t5UkZT)

How to reduce the memory usage.

[2020-07-08 13:25] ciarmcom commented on #192
ARM Internal Ref: IOTCELL-2468

[2020-08-04 09:25] kivaisan commented on #192
@hasikp1 We don't currently have support for SIMCOM modems.
64kB is very small, so full rtos probably won't fit. You may try baremetal profile if it fits for your purposes.

[2020-10-03 03:57] zhiyong80 opened #199 "How to access CellularDevice and its methods?"
Hi,

I am trying to get IMSI and ICCID from sim card. According to source code, two methods of AT_CeullarInformation class can be used to get those two pieces of information. After going through the example and also documentation [here](https://os.mbed.com/docs/mbed-os/v6.2/apis/cellular-networking.html). I still cannot get it to work.

Can someone offer some pointers or a brief example?

Thanks.

[2020-10-03 05:30] zhiyong80 commented on #199
A previous discussion elsewhere seems able to get this done.
https://github.com/ARMmbed/mbed-os/issues/13395

[2020-10-03 05:30] #199 closed

[2020-10-04 13:23] nadaanas1988 commented on #172
Hello

I'm facing the same issue. I'm using the U blox c027 and in my program I'm defining the threads as the following:

Thread GNSS_UDP(osPriorityNormal, 2000); //sending to the FMS the GNSS data
Thread GNSS_PB_UDP(osPriorityNormal, 2000);  // Sending the Push button 1 with the GNSS data to the truck
Thread TCP_Server(osPriorityNormal, 2000); //TCP server thread FMS
Thread Temp_Sensor(osPriority

[2020-12-31 14:53] paul-szczepanek-arm commented on #178
Master now points to release and development points to tip of master..

[2020-12-31 14:53] #178 closed

[2021-01-04 08:47] paul-szczepanek-arm commented on #172
There's not much that can be done with a memory constraint other than to use a dev board with more memory. The debug profile will use more memory. Short of restructuring your program to not use as many threads all I can suggest is running with --release or maybe trying the baremetal profile `requires: ["baremetal"]`.

[2021-01-04 10:01] #192 closed

[2021-01-04 10:02] #172 closed

[2021-03-08 14:33] adityathakekar opened #217 "pin map not found on peripheral"
I am using dragino Quectel  nb-iot board with stm32 nucleo l496zg.

- editing the mbed.json file for tx and rx pins according to the datasheet, i get this error.
- checked all the possible methods of connecting with TCP or UDP.
-  The board works perfectly with AT commands.
What am i missing here?

{
    "config": {
        "sock-type": "UDP",
        "echo-server-hostname": {
            "help":

[2021-03-08 14:35] ciarmcom commented on #217
@adityathakekar This issue has an incomplete or old issue template.For future reference please use an up to date clone of the repository before raising issues. Many thanks.

[2021-03-08 14:35] ciarmcom commented on #217
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3550*

[2021-03-08 14:42] jeromecoutant commented on #217
Hi
You should also provide your mbed_app.json file information.

[2021-03-08 14:46] adityathakekar commented on #217
{
    "config": {
        "sock-type": "UDP",
        "echo-server-hostname": {
            "help": "Echo server host name.",
            "value": "\"udp.connectivity-suite.cloud\""
        },
        "echo-server-port": {
            "help": "Echo server port number.",
            "value": 4445
        },
        "trace-level": {
            "help": "Options are TRACE_LEVEL_ERROR,TRACE_LEVEL_WARN

[2021-03-08 15:20] jeromecoutant commented on #217
OK, I am not a BG96 expert, but I think QUECTEL_BG96.tx and rx pins are supoosed to be UART ?

See https://os.mbed.com/platforms/ST-Nucleo-L496ZG/#zio-and-arduino-compatible-headers
Change to D1 and D0

[2021-03-08 15:26] adityathakekar commented on #217
yes, those are supposed to be uart.
step :
1. Changed it to D0 and D1.
2. module does not connect to the cellular even after doing this.
3. pin map not found on peripheral error seems to disappear.

[2021-03-08 16:59] jeromecoutant commented on #217
Thx

Please open then a new issue with the new problem :-)

[2021-03-08 18:21] adityathakekar commented on #217
Thanks for your time.

[2021-03-08 18:21] #217 closed

[2021-03-08 18:25] adityathakekar opened #218 "BG96 cellular connection issue."
changed the uart pins and edited the json as per the documentation.
complete link to the previous issue can be found here.

https://github.com/ARMmbed/mbed-os-example-cellular/issues/217#issue-824624940

1. Cellular nb iot sim cannot connect to the network.
2. we can connect to the nb-iot sim via arduino.

Do we need AT commands in the code?
Or we just need to edit the json?

[2021-03-08 21:28] ciarmcom commented on #218
@adityathakekar This issue has an incomplete or old issue template.For future reference please use an up to date clone of the repository before raising issues. Many thanks.

[2021-03-08 21:29] ciarmcom commented on #218
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3552*

[2021-03-09 14:04] adityathakekar commented on #218
Hey, i am using up to date clone of repository and the code does not work ,connecting to bg96 cellular nb iot using udp.
Changed the uart pins to D1 and D0.

[2021-03-09 15:41] paul-szczepanek-arm commented on #218
Apologies for the bots, they can't be reasoned with.

I don't have your board unfortunately so you'll have to help me out a bit. Can you please enable traces, set them to debug level and share the log?

You can also try turning on AT prints with cellular.debug-at.

[2021-03-09 15:52] adityathakekar commented on #218
Modem power on
Connecting to cellular context in 0ms

and the timer continues.
There is no connection with cellular network.

[2021-03-09 16:09] paul-szczepanek-arm commented on #218
I'd expect a bit more prints if you had tracing on.

[2021-03-10 02:06] adityathakekar commented on #218
23:18:09.448 ->
[2K[33m[00011627ms][WARN][CELL]: URC already added with prefix: +CGEV: NW DEACT[0m
23:18:09.448 ->
[2K[33m[00011627ms][WARN][CELL]: URC already added with prefix: +CGEV: ME DEACT[0m
23:18:09.448 ->
[2K[33m[00011628ms][WARN][CELL]: URC already added with prefix: +CGEV: NW PDN D[0m
23:18:09.448 ->
[2K[33m[00011628ms][WARN][CELL]: URC already added with prefix: +CGEV: ME PD

[2021-03-10 09:07] paul-szczepanek-arm commented on #218
Doesn't look like your modem ever powers on.

Are you sure you're using the latest cellular example? Please clone this repo, `git checkout development`, `mbed deploy`. Change the mbed_app.json options for tracing to true, set trace level to debug, enable at traces. Compile and flash. Connect serial and dump it into a file, attach the file with the log to the issue together with your json.

Here's

[2021-03-10 09:09] paul-szczepanek-arm commented on #218
I imagine the reason the modem doesn't power on is because there is no communication across the AT protocol. Check the correct pins are configured in the json.

[2021-03-10 13:34] adityathakekar commented on #218
Attaching the logs with json file ..
using Dragion NB-iot shield quectel BG96

{
    "config": {
        "sock-type": "UDP",
        "echo-server-hostname": {
            "help": "Echo server host name.",
            "value": "\"18.197.48.88\""
        },
        "echo-server-port": {
            "help": "Echo server port number.",
            "value": 5681
        },
        "echo-device-port":

[2021-03-10 18:31] paul-szczepanek-arm commented on #218
OK, looks like you don't have communicatin between the board and the shield. I think you need to configure the QUECTEL_BG96. Look in https://github.com/ARMmbed/mbed-os/blob/master/connectivity/drivers/cellular/QUECTEL/BG96/mbed_lib.json for values you need to provide.

This doesn't look like an issue with the example though. I recommend the forums or if there's something wrong with BG96 the mbed-o

[2021-03-10 18:44] adityathakekar commented on #218
@paul-szczepanek-arm thanks for your time. closing this issue.

[2021-03-10 18:44] #218 closed

[2021-06-14 01:18] tcpipchip opened #222 "u-blox Nina b112 error + Sara G350"
Sir,
How are you ?
After config

        "nsapi.default-cellular-apn": "\"java.com.br.br\"",
            "nsapi.default-cellular-username":  "\"claro\"",
            "nsapi.default-cellular-password":  "\"claro\"",
            "GENERIC_AT3GPP.tx": "p8",
	    "GENERIC_AT3GPP.rx": "p11",
	"GENERIC_AT3GPP.baudrate":115200
        },
        "NRF52_DK": {
            "target.macros_add": ["UBX_MDM_SAR

[2021-06-14 09:07] 0xc0170 commented on #222
The error comes from the example

[code]

You should check what is being returned inside this default instance function (I assume you get into ip one).

[2021-06-14 09:20] AnttiKauppila commented on #222
Have you configured the modem to provide the default instance?
You need to override and set one of the following to true in your mbed_app.json:
https://github.com/ARMmbed/mbed-os/blob/master/connectivity/drivers/cellular/UBLOX/PPP/mbed_lib.json#L24-L26 for PPP mode or
https://github.com/ARMmbed/mbed-os/blob/master/connectivity/drivers/cellular/UBLOX/AT/mbed_lib.json#L24-L26 for AT mode

[2021-06-14 11:53] ciarmcom commented on #222
@tcpipchip This issue has an incomplete or old issue template.For future reference please use an up to date clone of the repository before raising issues. Many thanks.

[2021-06-14 11:53] ciarmcom commented on #222
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-4068*

[2021-06-14 13:35] tcpipchip commented on #222
Sir
Thank you for the fast help! I hope soon test in 4 u-blox modem models that i have here! I intend to make blogs about then using the PPP.
Well, getting progress here!

[2021-06-14 15:02] tcpipchip commented on #222
![image](https://user-images.githubusercontent.com/11488460/121914182-6bfb5d00-cd08-11eb-8eb9-ec5827bc2bde.png)
Look

[2021-06-14 15:05] tcpipchip commented on #222
getting more progresss!
But i need some TIP
![image](https://user-images.githubusercontent.com/11488460/121914593-c98fa980-cd08-11eb-949f-7df4fa08517c.png)

[2021-06-14 15:47] tcpipchip commented on #222
Here a link
https://youtu.be/FVG1x1xtzto

[2021-06-15 14:55] tcpipchip commented on #222
Hi, i tried too other servers...got connection, but cant send and receive data

some suggestion team ?

[2021-06-17 13:05] tcpipchip commented on #222
Sir
Can you see if am i doing something wrong ?
`/*
 * Copyright (c) 2017 ARM Limited. All rights reserved.
 * SPDX-License-Identifier: Apache-2.0
 * Licensed under the Apache License, Version 2.0 (the License); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by app

[2021-06-18 09:00] paul-szczepanek-arm commented on #222
Enabling tracing might help you diagnose the problem.

[2021-06-19 13:47] tcpipchip commented on #222
hi @paul-szczepanek-arm

Strange that there that PPP CONNECTION is estabilshed, the DNS resolver work, make the SOCKET CONNECTION, but not send and receive.
To me,  looks some UART problem, but i dont know what...
Something weird, because in the main.cpp, i had to include after each printf, and  wait_us(1000000); otherwise, overrun on my uart receive
printf("Disconnect failed (error: %d).\n", ret)

[2021-07-03 12:14] tcpipchip commented on #222
Must i try to change to PAP or CHAP to works ?
Did you try already with NRF52 ?

[2021-07-06 01:01] tcpipchip commented on #222
Today i did try the AT mode
![image](https://user-images.githubusercontent.com/11488460/124527660-817e1700-dddc-11eb-9ed5-ee2e36832af6.png)
same problem
looks that the server is no ECHOing the my TEST data too :(
very very very weird

[2021-07-06 22:48] tcpipchip commented on #222
I found something very interesting!
If you put in

UBLOX_AT__celularStack.cpp the following instruction

	 printf("%s\n","EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE");

UBLOX_AT_CellularStack::UBLOX_AT_CellularStack(ATHandler &atHandler, int cid, nsapi_ip_stack_t stack_type, AT_CellularDevice &device) :
    AT_CellularStack(atHandler, cid, stack_type, device)
{
    // URC handlers for sockets

	 pri